:root {
  --brand-color-rgb: 225 6 0;
  --brand-color: rgb(var(--brand-color-rgb));

  --brand-color-contrast-rgb: 0 0 0;
  --brand-color-contrast: rgb(var(--brand-color-contrast-rgb));

  --primary-color: dodgerblue;
  --secondary-color: orangered;
  --dark-color: black;
  --grey-color: lightgrey;
  --light-color: #eee;
  --white-color: #fff;

  --fg-color: var(--dark-color);
  --bg-color: var(--light-color);

  --box-shadow: 0 1px 3px rgba(var(--dark-color) / 0.1);

  --bottom-color-bg: #eee;
  --bottom-color-fg: black;

  --middle-color-bg: white;
  --middle-color-fg: darkslategrey;

  --top-color-bg: var(--brand-color);
  --top-color-fg: white;
  --top-color-hover: rgba(var(--brand-color-rgb) / 0.5);

  --bg-color: var(--bottom-color-bg);
  --fg-color: var(--bottom-color-fg);

  --bubble-color: var(--bottom-color-fg);
  // --bubble-border-color: var(--bubble-color);

  --tile-font-size: 1.125rem;
  --tile-border-radius: 0.5rem;
  --button-border-radius: 0.25em;
}

.nightman {
  --dark-color: white;
  --grey-color: grey;
  --light-color: black;
}
