@use "sass:string";
@use "reset";
@use "colors";
@use "components";

:root {
  --tilelist-list-breakpoint: 400px;
  --tilelist-tiles-breakpoint: 600px;
}

@mixin colors($bgcolor, $fgcolor) {
  @if string.index(#{$fgcolor}, "--") == 1 {
    color: var(#{$fgcolor});
  } @else {
    color: #{$fgcolor};
  }

  @if string.index($bgcolor, "--") == 1 {
    background-color: var(#{$bgcolor});
  } @else {
    background-color: #{$bgcolor};
  }
}

button * {
  pointer-events: none;
}

body {
  --transition-speed: 1000ms;

  background-color: transparent;
  transition: ease-out background-color var(--transition-speed);

  > * {
    opacity: 1;
    transition: ease-in opacity var(--transition-speed);
  }

  &.loading {
    background-color: var(--brand-color);
    > * {
      opacity: 0;
    }
  }

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--light-color);
  color: var(--dark-color);

  font-family: Helvetica, Arial, sans-serif;

  > header {
    background-color: var(--brand-color);
    color: var(--brand-color-contrast);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    > nav ul {
      display: flex;

      a {
        color: inherit;
        padding: 0.5em;

        &:hover {
          color: var(--light-color);
          background-color: rgba(255 255 255 / 0.1);
        }
      }
    }
  }

  > main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem;
  }

  > footer {
    background-color: var(--brand-color-contrast);
    color: var(--brand-color);

    font-size: 0.8rem;

    margin-top: auto;

    text-align: center;
    padding: 0.65rem 1rem;
  }
}

.greeting {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5ch;

  font-size: 1.5rem;

  border-bottom: 2px solid;
  padding-bottom: 0.35em;

  * {
    font-size: inherit;
  }

  input {
    @extend %rounded-borders;
    flex: 1;
    color: var(--brand-color);

    &::placeholder {
      color: rgba(var(--brand-color-rgb) / 0.75);
    }

    &:focus {
      @extend %input-focus-border;
    }
  }
}

%input-focus-border {
  outline: 2px solid var(--brand-color);
}

%rounded-borders {
  border-radius: 0.35em;
}

%form-input {
  @extend %rounded-borders;
  background-color: var(--white-color);
  color: var(--light-color-contrast);

  padding: 0.5em;
}

%cover-parent {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#newTodoForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > label {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    font-size: 1.2rem;

    input[type="text"] {
      @extend %form-input;
      font-size: 1.2em;

      &:focus {
        @extend %input-focus-border;
      }
    }
  }

  button[type="submit"] {
    @extend %rounded-borders;
    border: 0;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 1rem;
    font-weight: 900;
    font-size: 1.3em;

    &:hover {
      color: var(--brand-color);
    }

    &:active {
      background-color: var(--brand-color);
      color: var(--light-color);
    }
  }
}

.tilelist {
  font-size: 1.2rem;

  header {
    background-color: var(--brand-color);
    color: var(--light-color);
    padding: 0.5em;
    text-align: center;

    &:hover {
      filter: sepia(60%);
    }
  }

  header,
  ul,
  li {
    border-radius: 0.25em;
  }

  header,
  label {
    &,
    * {
      cursor: pointer;
    }
  }

  li {
    background-color: var(--white-color);
    color: var(--dark-color);
  }

  label {
    --bubble-color: var(--brand-color);
    // --bubble-border-color: purple;
    // --bubble-height: 50px;
    background-color: var(--white-color);
    color: var(--dark-color);

    padding: 0.5em;

    display: flex;
    flex-direction: inherit;
    align-items: center;
    gap: 0.5ch;

    &:hover {
      background-color: var(--dark-color);
      color: var(--light-color);
      // filter: sepia(60%);
      // filter: sepia(60%) brightness(200%) contrast(500%);
      // filter: invert(100%);

      --bubble-color: var(--brand-color);
      // --bubble-color: var(--brand-color-contrast);
    }

    input {
      display: none;
    }
  }
}

fieldset {
  padding: 0;
  border: 0;

  legend {
    margin-bottom: 0.5rem;
  }
}

#duedate {
  @extend %rounded-borders;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: stretch;

  label {
    position: relative;
    flex: 1;
    font-size: 1.2rem;
  }

  &:hover {
    span {
      filter: sepia(60%);
    }
  }

  span {
    flex: 1;
    display: block;
    background-color: var(--brand-color);
    color: var(--light-color);
    padding: 0.5em;
    text-align: center;

    // background-color: var(--brand-color);
    // color: var(--white-color);
    // text-align: center;
    // padding: 0.5em;
  }

  button {
    cursor: pointer;
    border: 0;
    aspect-ratio: 1;
    background-color: var(--dark-color);
    color: var(--white-color);

    &:hover {
      background-color: var(--brand-color);
      color: var(--brand-color-contrast);
    }
  }

  input {
    cursor: pointer;
    @extend %cover-parent;
    opacity: 0;
  }
}

#assignto {
  div {
    position: relative;

    input#assignedto-input {
      @extend %cover-parent;
      position: absolute;
      outline: 1px solid yellowgreen;
      background-color: transparent;
    }

    input#assignedto-shadow {
      width: 100%;
      color: var(--grey-color);
    }
  }
}

section#todoList,
section#todoLizt {
  label {
    *:last-child {
      margin-inline-start: auto;
    }

    &:hover button {
      background-color: var(--grey-color);
    }

    button {
      @extend %rounded-borders;
      padding: 0.5em;
      aspect-ratio: 1;
      display: grid;
      place-content: center;
      background-color: transparent;

      border: 0;

      &:hover {
        background-color: var(--brand-color);
        color: var(--light-color);
      }
    }
  }
}

#settings {
  ul {
    @extend %rounded-borders;
    font-size: 0.85rem;
    min-width: 100%;
    width: 200%;
    width: unset;
    // border-radius: 0 0 0.25em 0.25em;

    li + li.separator {
      border-top: 2px solid var(--brand-color);
    }

    li {
      &,
      * {
        white-space: nowrap;
      }
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1ch;
      font-size: inherit;
      width: unset;
      border-radius: 0;
      padding: 0.5em;

      &:hover {
        background-color: var(--brand-color-contrast);
        color: var(--brand-color);
      }

      > * {
        flex: 0;
      }
    }
  }
}

#modal {
  padding: 1rem;
  max-width: 50ch;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}
