.overflowInput {
  text-overflow: ellipsis;

  &:focus {
    text-overflow: clip;
  }
}

.langSelector {
  display: flex;
  gap: 0.5em;

  *[class~="selected"] {
    filter: saturate(0%);
    opacity: 0.5;
  }

  * {
    cursor: pointer;
  }
}

.addCategory {
  display: flex;
  justify-content: space-between;
  gap: 1ch;
  align-items: center;
  // background-color: green;
  width: 100%;

  div {
    display: flex;
    gap: 1ch;
    flex: 1;
    // background-color: red;

    input {
      flex: 1;
      background-color: white;
    }
  }

  button[class~="default"] {
    color: var(--primary-color);
  }
}

.radioSet {
  border: 0;
  display: flex;
  display: grid;
  grid-template-columns: subgrid;
  flex-direction: column;
  // gap: 1rem;

  legend {
    // display: flex;
    // gap: 1ch;
    // align-items: center;
    margin-bottom: 0.5rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.25em;
      // border: 2px solid coral;
      border: 0;
      border-radius: 0.25em;
      background-color: rgba(0 0 0 / 0.2);
      color: white;

      &:hover {
        background-color: rgba(0 0 0 / 0.1);
        color: var(--primary-color);
      }

      svg {
        height: 100%;
        width: 100%;
        // border: 2px solid yellowgreen;
      }
    }
  }

  label {
    display: grid;
    grid-template-columns: 0fr 1fr;
    // place-content: center;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    padding: clamp(0.5rem, 5vw, 1.5rem);

    // > * {
    //   text-align: center;
    //   display: flex;
    //   border: 2px solid coral;
    // }

    &:first-of-type {
      border-radius: 0.5rem 0.5rem 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 0.5rem 0.5rem;
    }

    // border-radius: 0.5rem;
    flex: 1;
    cursor: pointer;

    background-color: white;
    box-shadow: var(--box-shadow);

    input {
      display: none;
    }

    input:checked ~ b {
      &::after {
        background-color: dodgerblue;
      }
    }

    b {
      position: relative;
      display: block;
      flex-direction: column;
      align-items: center;
      // background-color: papayawhip;
      height: 1em;
      aspect-ratio: 1;

      &::before {
        position: absolute;
        content: "";
        display: block;
        border: 0.1em solid dodgerblue;
        border-radius: 100vw;
        height: 1em;
        height: 100%;
        aspect-ratio: 1;
      }

      &::after {
        position: absolute;
        content: "";
        display: block;
        // border: 0.1em solid dodgerblue;
        // background-color: red;
        border-radius: 100vw;
        height: 60%;
        top: 20%;
        left: 20%;
        aspect-ratio: 1;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .radioSet {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    label {
      display: flex;
      flex-direction: column;

      &,
      &:first-of-type,
      &:last-of-type {
        border-radius: 0.5rem;
      }
    }
  }
}
