.taskCardList {
  --bubble-color: var(--secondary-color);

  list-style-type: none;
  margin: 0;
  padding: 0;

  cursor: pointer;

  // font-size: 10rem;

  *::after {
    transition: opacity 200ms;
  }

  li {
    background-color: var(--middle-color-bg);
    color: var(--middle-color-fg);
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;

    padding: 1rem;

    div {
      flex: 1;
      word-break: break-all;
    }

    button {
      display: grid;
      place-content: center;
      padding: 0.25em;
    }

    &:hover {
      background-color: var(--top-color-bg);
      color: var(--top-color-fg);
      --bubble-color: white;
    }
  }
}
