.overflowInput {
  text-overflow: ellipsis;

  &:focus {
    text-overflow: clip;
  }
}

.langSelector {
  display: flex;
  gap: 0.5em;
  cursor: pointer;

  > img {
    filter: saturate(0%);
    opacity: 0.5;

    &[class~="selected"] {
      filter: saturate(100%);
      opacity: 1;
      // border: 1px solid white;
    }
  }
}

.bbb_bubble {
  position: relative;
  display: block;
  flex-direction: column;
  align-items: center;
  height: 1em;
  aspect-ratio: 1;

  &::before {
    position: absolute;
    content: "";
    display: block;
    color: var(--bubble-color);
    border: 0.1em solid var(--bubble-color);
    border-radius: 100vw;
    height: 1em;
    height: 100%;
    aspect-ratio: 1;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    border-radius: 100vw;
    height: 60%;
    top: 20%;
    left: 20%;
    aspect-ratio: 1;
    background-color: var(--bubble-color);
    opacity: 0;
  }

  &[data-filled="true"]::after {
    opacity: 1;
  }
}
