.container {
  background-color: var(--bg-color);
  color: var(--fg-color);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  min-height: 100vh;
}

.container main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 2rem;
  padding-inline: clamp(0.5rem, calc((50vw) / 2), calc((100vw - 900px) / 2));
}

.container footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  background-color: var(--fg-color);
  color: var(--bg-color);
  padding: 0.75rem 1rem;
  text-align: center;
  font-size: 0.75rem;
}

.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--top-color-bg);
  color: var(--top-color-fg);
}

.header nav {
  display: flex;
  gap: 0.5em;
  font-size: 0.8rem;
}

.header nav a {
  text-decoration: none;
  color: var(--fg-color);
  padding: 0.5em;
  border-radius: 0.25em;
}

.header nav a:hover {
  background-color: rgba(255 255 255 / 0.25);
  color: var(--bg-color);
}

.formGreeting {
  display: flex;
  gap: 0.5ch;
  align-items: baseline;
  justify-content: flex-start;
  font-size: 1.5rem;

  padding-bottom: 0.25em;
  border-bottom: 2px solid;

  --bg-color: var(--dark-color);
  --fg-color: var(--light-color);
}

.formGreeting * {
  font-size: inherit;
}

.formGreeting *[class~="greeting"]::after {
  content: " ";
  display: inline-block;
}

.formGreeting input {
  flex: 1;
}

.tooNarrow {
  display: none;
}

@media only screen and (max-width: 200px) {
  .container {
    display: none;
  }
  .tooNarrow {
    display: grid;
    place-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: yellowgreen;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
  }

  .tooNarrow span {
    display: block;
    text-align: center;
  }
}
