@use "./styles/reset.scss";

:root {
  --primary-color: dodgerblue;
  --secondary-color: orangered;
  --dark-color: black;
  --grey-color: darkslategrey;
  --light-color: #eee;

  --fg-color: var(--dark-color);
  --bg-color: var(--light-color);

  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.container {
  background-color: var(--bg-color);
  color: var(--fg-color);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 2rem;

  min-height: 100vh;

  footer {
    margin-top: auto;
    background-color: var(--fg-color);
    color: var(--bg-color);
    padding: 2rem 1rem;
    text-align: center;
  }
}

.header {
  // position: fixed;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--secondary-color);
}

.formGreeting {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 1ch;
  font-size: 1.5rem;

  --bg-color: var(--secondary-color);
  --fg-color: var(--light-color);

  // background-color: var(--bg-color);
  // color: var(--fg-color);
  // padding: 1rem 2rem;

  * {
    font-size: inherit;
  }

  input {
    flex: 1;
  }
}

.newTodoForm {
  // background-color: red;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    font-weight: normal;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    input {
      // display: block;
      background-color: white;
      border-radius: 0.5em;
      padding: 1rem 1.5rem;
      font-size: 1.125rem;

      box-shadow: var(--box-shadow);
    }
  }

  button {
    background-color: black;
    color: white;

    text-transform: uppercase;

    border: 0;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);

    padding: 1em;
  }
}

.radioSet {
  border: 0;
  display: flex;
  gap: 1rem;

  legend {
    margin-bottom: 0.5rem;
  }

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    flex: 1;
    cursor: pointer;

    background-color: white;
    box-shadow: var(--box-shadow);

    input {
      display: none;
    }

    input:checked ~ b {
      &::after {
        background-color: dodgerblue;
      }
    }

    b {
      position: relative;
      display: block;
      flex-direction: column;
      align-items: center;
      // background-color: papayawhip;
      height: 1em;
      aspect-ratio: 1;

      &::before {
        position: absolute;
        content: "";
        display: block;
        border: 0.1em solid dodgerblue;
        border-radius: 100vw;
        height: 1em;
        height: 100%;
        aspect-ratio: 1;
      }

      &::after {
        position: absolute;
        content: "";
        display: block;
        // border: 0.1em solid dodgerblue;
        // background-color: red;
        border-radius: 100vw;
        height: 60%;
        top: 20%;
        left: 20%;
        aspect-ratio: 1;
      }
    }
  }
}
