@use "./styles/reset.scss";

:root {
  --primary-color: dodgerblue;
  --secondary-color: orangered;
  --dark-color: black;
  --grey-color: darkslategrey;
  --light-color: #eee;

  --fg-color: var(--dark-color);
  --bg-color: var(--light-color);

  --box-shadow: 0 1px 3px rgba(var(--dark-color) / 0.1);

  --bottom-color-bg: #eee;
  --bottom-color-fg: black;

  --middle-color-bg: white;
  --middle-color-fg: darkslategrey;

  --top-color-bg: #e10600;
  --top-color-fg: white;

  --bg-color: var(--bottom-color-bg);
  --fg-color: var(--bottom-color-fg);
}

.container {
  background-color: var(--bg-color);
  color: var(--fg-color);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  min-height: 100vh;

  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 2rem;

    // min-width:
    padding-inline: clamp(0.5rem, calc((50vw) / 2), calc((100vw - 900px) / 2));
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    background-color: var(--fg-color);
    color: var(--bg-color);
    padding: 0.75rem 1rem;
    text-align: center;
    font-size: 0.75rem;
  }
}

.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--top-color-bg);
  color: var(--top-color-fg);

  nav {
    display: flex;
    gap: 0.5em;
    font-size: 0.8rem;

    a {
      text-decoration: none;
      color: var(--fg-color);
      padding: 0.5em;
      border-radius: 0.25em;

      &:hover {
        background-color: rgba(255 255 255 / 0.25);
        color: var(--bg-color);
      }
    }
  }
}

.formGreeting {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  // gap: 0.5ch;
  font-size: 1.5rem;

  padding-bottom: 0.25em;
  border-bottom: 2px solid;

  --bg-color: var(--dark-color);
  --fg-color: var(--light-color);

  // background-color: var(--bg-color);
  // color: var(--fg-color);
  // padding: 1rem 2rem;

  * {
    font-size: inherit;
  }

  *[class~="greeting"]::after {
    content: " ";
    display: inline-block;
  }

  input {
    flex: 1;
  }
}

.newTodoForm {
  // background-color: red;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    font-weight: normal;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    input {
      // display: block;
      background-color: var(--middle-color-bg);
      color: var(--middle-color-fg);
      border-radius: 0.5em;
      padding: 1rem 1.5rem;
      font-size: 1.125rem;

      box-shadow: var(--box-shadow);
    }
  }

  > button {
    background-color: black;
    color: white;

    text-transform: uppercase;

    border: 0;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);

    padding: 1em;
  }
}
